/* .creator-box {
    width:60%;
} */

.container {
    padding-right: 20px;
}

.container h4 {
    font-style: italic;
}

.box {
    display: flex;
    flex-direction: row;
}

.box .creator {
    width: 30%;
    min-width: 350px;
    display:flex;
    flex-direction: column;
    padding-right: 20px;
}

.box .creator .input-group input[type=textarea] {
    height: 50px;
    resize: vertical;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    overflow: auto;

}

.input-group {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.message {
    height: 30px;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.message p {
    font-weight: 700;
    font-size: 15px;
}

.message.fail {
    background-color: rgb(255, 190, 201);
    border-left: solid 3px red;
}

.message.success {
    background-color: rgb(195, 255, 208);
    border-left: solid 3px rgb(0, 255, 55);
}

.input-group:last-child {
    padding-top: 15px;
    display: flex;
    align-items: left;
}

.input-group button {
    width: fit-content;
    padding: 0 10px;
    color: #2271b1;
    border-color: #2271b1;
    background: #f6f7f7;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    font-size: 13px;
    min-height: 30px;
}

.input-group label {
    font-weight: 700;
    font-size: 1rem;
}

.tablenav {
    height: 0;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1300px) {
    .box {
      flex-direction: column;
    }
  }